.ant-layout-sider-children {
  @apply flex flex-col justify-center items-center bg-gradient-to-b from-[#ffffff] to-[#f6f5f8];

  border-right: 0.5px solid rgba(0, 0, 0, 0.2);
}
.ant-collapse {
  &.ant-collapse-borderless {
    background-color: transparent;
  }

  & .ant-collapse-item {
    border-bottom: none;
    & .ant-collapse-header {
      border: solid #d5d5d7 1px;
      margin-bottom: 16px;
      border-radius: 9999px;
    }
    &:last-child {
      border-radius: 9999px;
      & .ant-collapse-header {
        border-radius: 9999px;
      }
    }
  }
}

.ant-layout .ant-layout-sider-children .ant-menu.ant-menu-inline-collapsed {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 9999px;
  background: #c9c9c94f;
  width: fit-content;
  .ant-menu-item {
    border-radius: 9999px;
    margin: 0;
    width: 51px;
    height: 51px;
    & > span:first-child {
      transform: translateY(35%) translateX(15%);
      color: #ffffff;
      font-size: 18px;
      & > svg {
        stroke: white;
        stroke-width: 10px;
      }
    }
  }
  .ant-menu-item-selected {
    @apply bg-gradient-to-b from-[#A4E8C3] to-[#4BCD82];
  }
}
