.brand-admin {
  .ant-pagination .ant-pagination-item-active {
    border: none;
  }

  .ant-pagination .ant-pagination-item-active a {
    color: black;
  }

  .ant-btn-variant-solid {
    background: #62d985 !important;
  }

  .ant-btn-color-primary {
    background-color: #62d985 !important;
  }
}
