.blog {
  .ant-tabs-tab-btn {
    color: black;
    text-align: left;
    font-size: 16px;
    color: #757575;
    font-weight: 500;
  }

  .ant-tabs-ink-bar {
    display: none;
  }
  .ant-tabs-left > .ant-tabs-content-holder {
    border: none;
  }
  .ant-tabs-tab-btn {
    color: black;
    text-align: left;
    font-size: 16px;
    color: #555555;
    font-weight: 500;
  }

  .ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #292929;
  }

  &__tag {
    .type-media {
      padding-bottom: 20px;
    }
    padding: 0;
    .ant-tag-checkable-checked,
    .ant-tag-checkable {
      // border: 1px solid white;
      background-color: #f2f2f2;
      border-radius: 9999px;
      color: black;
      font-weight: 400;
      font-size: 14px;
      padding: 10px 16px;
    }
    .ant-tag-checkable-checked {
      color: black;
      background-color: #bdbdbd;
    }
  }
}
