.product-quantity {
  padding-bottom: 10px;
  .ant-radio-button {
  }

  .ant-radio-group-solid {
    .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
      background-color: white;
      border-color: black;
      border-radius: 8px;
      color: black;
    }
  }
  .ant-radio-button-wrapper {
    min-width: 60px;
    text-align: center;
    background-color: #efefef;
  }
  .ant-radio-button-wrapper:not(:first-child)::before {
    background-color: transparent;
    opacity: 0.2;
    border-right: 0.7px solid rgb(131, 81, 81);
  }
}
