.ant-form-item .ant-form-item-label > label {
  font-weight: bold !important;
}

.ant-form-item {
  // display: flex;
  // flex-direction: row;
  // justify-content: space-between;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #62d985;
  border-color: #62d985;
}
